body{
    background-color:rgb(211, 234, 229) ;
  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
     
} 

.container{
    background-color: rgb(115, 157, 168);
    border-radius: 19px;
    padding: 20px ;
    box-shadow: 3px 3px rgb(0, 0, 0), -1em 0 .4em rgb(0, 0, 0);
    
}

.title{
    font-size: 30px;
    margin-bottom: 1.5rem;
}

.timer{
    font-size: 30px;
    background-color: rgb(249, 249, 249);
    box-shadow: 2px 1.5px 5px rgb(9, 9, 9);
    padding: 20px;
    border-radius: 9px;
    animation: pulse1 1.5s infinite alternate;
    
}

@keyframes pulse1 {
    from{   
        transform: scale(1);
    }
    
    

to{
    transform: scale(1.05);
}}

.timer span {
    width: 110px;
    display: inline-block;
    text-align: center;
}

.controls{
    display: flex;
    gap: 1rem;
    margin-top:20px;
    gap: 25px;
}


button{
    padding:0.75rem 1.5rem ; 
    font-size: 1 rem;
    background-color: rgb(52, 48, 48);
    color: aliceblue;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 1.5px 5px rgb(9, 9, 9);
    cursor: pointer;
    transition:   background-color 0.3s ease-in-out;
}

button:hover{
    background-color: #000000;
}


.laps-title{
    font-size: 1.5rem;
}

.laps{
    width: 100%;
}


ul{
    list-style-type: none;
    padding-left: 10px;
    margin: 0; 
    overflow-y: auto;
    max-height: 200px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 2px 1.5px 5px rgb(9, 9, 9);
    font-weight: 550;
}

li{
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

li:last-child{
    border-bottom: none;
}

li span{
    font-weight: 700;
}


